.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/CLearning/v16/.suo
.vs/CLearning/v16/Browse.VC.db
.vs/CLearning/v16/ipch/AutoPCH/1fa78e722f0a22a5/LEETCODE.ipch
.vs/CLearning/v16/ipch/AutoPCH/296281d8d9fb6a18/STATICFUNCTION.ipch
.vs/CLearning/v16/ipch/AutoPCH/a94d9fa185b9bfcd/POINTER.ipch
.vs/CLearning/v16/ipch/AutoPCH/ca7a1ed0129d394e/TESTMAIN.ipch
.vs/CLearning/v16/ipch/AutoPCH/f3c3570cb1f3de4/SORTINGALGORITHMS.ipch
bin/Intermediater/Win32/Debug/CLearning.Build.CppClean.log
bin/Intermediater/Win32/Debug/CLearning.exe.recipe
bin/Intermediater/Win32/Debug/CLearning.ilk
bin/Intermediater/Win32/Debug/CLearning.log
bin/Intermediater/Win32/Debug/CLearning.vcxproj.FileListAbsolute.txt
bin/Intermediater/Win32/Debug/Pointer.obj
bin/Intermediater/Win32/Debug/TestMain.obj
bin/Intermediater/Win32/Debug/testmain.obj.enc
bin/Intermediater/Win32/Debug/vc142.idb
bin/Intermediater/Win32/Debug/vc142.pdb
bin/Intermediater/Win32/Debug/CLearning.tlog/CL.command.1.tlog
bin/Intermediater/Win32/Debug/CLearning.tlog/CL.read.1.tlog
bin/Intermediater/Win32/Debug/CLearning.tlog/CL.write.1.tlog
bin/Intermediater/Win32/Debug/CLearning.tlog/CLearning.lastbuildstate
bin/Intermediater/Win32/Debug/CLearning.tlog/link.command.1.tlog
bin/Intermediater/Win32/Debug/CLearning.tlog/link.read.1.tlog
bin/Intermediater/Win32/Debug/CLearning.tlog/link.write.1.tlog
bin/Win32/Debug/CLearning.exe
bin/Win32/Debug/CLearning.pdb
CLearning/CLearning.vcxproj.filters
CLearning/CLearning.vcxproj.user
